# IntelliJ IDEA
.idea/
*.iml
out/

# Compiled Java files
*.class

# Build folders
build/
target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp

# Archives
*.zip
*.rar
*.7z